rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /vehicles/{vehicleId} {
      allow read, write: if true;
    }
    match /flats/{flatKey} {
      allow read, write: if true;
    }
  }
}
